HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
gradle/wrapper/gradle-wrapper.jar
build/tmp/compileJava/previous-compilation-data.bin
.gradle/file-system.probe
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/tmp/compileJava/previous-compilation-data.bin
